// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

main {
    background-color: rgb(206, 241, 237);
}

.thumbnail-img {
    width: 100%;
    //height: auto;
}

.small-img {
    max-width: 150px;
}

.publicaciónMobilHome {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .page-item {
    display: inline-block;
    margin-right: 5px;
}
