// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

main {
    background-color: rgb(206, 241, 237);
    min-height: calc(100vh - 60px); /* altura del footer */
    display: flex;
    flex-direction: column;
}

/* asegurarse de que el main se extienda tanto como sea posible */
html,
body {
    height: 100%;
}

#app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    z-index: 999;
}

.welcome-container {
    background-color: #f5f5f5;
}

.welcome-title {
    font-size: 6rem;
    font-weight: bold;
    top: 50%;
    left: 50%;
}

.welcome-text {
    font-size: 1.5rem;
    margin-bottom: 50px;
}

.welcome-btn {
    font-size: 1.2rem;
    padding: 10px 30px;
    border-radius: 25px;
    font-weight: bold;
    margin-top: -50px;
    background-color: turquoise;
}

.welcome-btn:hover {
    background-color: #2b2d42;
    border-color: #2b2d42;
    color: turquoise;
}

.about-us-container {
    padding: 50px 0;
}

.about-us-title {
    font-size: 36px;
    margin-bottom: 30px;
}

.about-us-text {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}

.about-us-image {
    max-width: 50%;
    margin: 30px 0;
}
.contact {
    margin: 10px 0;
}

/*.contact__title {
    font-size: 48px;
    margin-bottom: 20px;
}*/

.contact__description {
    font-size: 18px;
    margin-bottom: 20px;
}

.contact__location,
.contact__phone,
.contact__email {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact__form {
    margin-top: 5px;
}

.contact__form-description {
    font-size: 20px;
    margin-bottom: 20px;
}

.contact__form-container {
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 10px;
}

.contact__services {
    margin-top: 40px;
}

.contact__services-description {
    font-size: 20px;
    margin-bottom: 20px;
}
.btn-special {
    background-color: turquoise;
    border-color: turquoise;
}

.btn-special:hover {
    background-color: #2b2d42;
    border-color: #2b2d42;
    color: turquoise;
}

.thumbnail-img {
    width: 100%;
    //height: auto;
}

.small-img {
    max-width: 150px;
}

.publicaciónMobilHome {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .page-item {
    display: inline-block;
    margin-right: 5px;
}
